name: Test PHP SDK

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'
    - name: Install dependencies
      working-directory: integrations/safecomms-php
      run: composer install --prefer-dist --no-progress
    - name: Run test suite
      working-directory: integrations/safecomms-php
      run: composer run-script test
